<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: rgb(6, 6, 27); margin: 0; padding: 0">
    <nav
      style="
        color: whitesmoke;
        background-color: rgb(82, 20, 20);
        padding: 0.5em;
      "
    >
      <ul
        style="
          list-style: none;
          display: grid;
          grid-template-columns: 75px 75px 30% 70px 75px;
        "
      >
        <li>Home</li>
        <li>About</li>
        <li>Help</li>
        <li>
          <label for="search">Search</label>
        </li>
        <li>
          <input
            style="padding: 0.4em; border-radius: 10px; border: none"
            id="search"
            type="search"
          />
        </li>
      </ul>
    </nav>
    <h1 style="color: whitesmoke">Hello Everyone My Name is Harsh</h1>
    <script src="index.js"></script>
  </body>
</html>
